<div class="new-payment-request-container">
  <div class="container">
    <h1 class="text-center text-primary">P.B.</h1>
    <div class="row">
      <div class="col-sm-3">
        <div class="left-container">
          <h3 class="text-center text-primary">Payment Requests</h3>
          <div class="input-group-text inactive" (click)="viewExisting()">Status</div>
          <div class="input-group-text active">New</div>
          <div class="input-group-text inactive" (click)="viewDrafts()">Drafts ({{draftCount}})</div>
        </div>
      </div>
      <div class="col border-left">
        <div class="right-container">
          <div class="text-right text-primary">Welcome, {{name}}!</div>
          <div class="text-right input-group-small-links" (click)="navigateToLoginSelection()">Logout</div>
          <div class="section-split"></div>
          <div class="h3 text-left text-primary">New payment request</div>
          <div class="text-left text-primary">What country is your beneficiary from?</div>

          <div class="input-group mb-3">
            <select class="custom-select inputGroupSelect" #country (change)="changeCountry(country.value)">
              <option selected>Choose a country...</option>
              <option value="1">Singapore</option>
              <option value="2">United States</option>
              <option value="3">United Kingdom</option>
              <option value="4">Germany</option>
              <option value="5">Japan</option>
              <option value="6">China</option>
              <option value="7">Korea</option>
              <option value="8">Russia</option>
              <option value="9">India</option>
              <option value="10">Australia</option>
            </select>
          </div>

          <div class="section-split"></div>

          <div class="form-group">
            <div class="h4 text-left text-primary">Account details</div>
            <div class="row">
              <div class="col">
                <div class="text-left text-primary">Account name</div>
                <input type="text" #accountname class="form-control" placeholder="" name="accountname" ngModel>
              </div>
              <div class="col">
                <div class="text-left text-primary">Account number</div>
                <input type="text" #accountno class="form-control" placeholder="" name="accoutno" ngModel>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <div class="text-left text-primary">Currency</div>
                <input type="text" #currency class="form-control" placeholder="" name="currency" ngModel>
              </div>
              <div class="col">
                <div class="text-left text-primary">Amount</div>
                <input type="text" #amount class="form-control" placeholder="" name="amount" ngModel>
              </div>
              <div class="col">
                <div class="text-left text-primary">Value date</div>
                <input type="text" #valuedate class="form-control" placeholder="" name="valuedate" ngModel>
              </div>
            </div>
            <div class="text-left text-primary">Charges</div>
            <div class="input-group mb-3">
              <select class="custom-select inputGroupSelect" #costsborne ngModel>
                <option selected>Choose who pays charges...</option>
                <option value="1">Costs borne by beneficiary</option>
                <option value="2">Costs borne by payer</option>
                <option value="3">Shared costs</option>
              </select>
            </div>
          </div>

          <!--<form>
            <div class="form-group">
              <div #alert class="alert fade show" ngClass="{{alertClass}}" role="alert">{{alertMessage}}</div>
              <div class="text-left text-primary">Full Name</div>
              <input type="text" #name class="form-control" placeholder="" name="name" ngModel>
              <div class="text-left text-primary">Username</div>
              <input type="text" #username class="form-control" placeholder="" name="username" ngModel>
              <div class="text-left text-primary">Password</div>
              <input type="password" #password class="form-control" placeholder="" name="password">
              <div class="text-left text-primary">Confirm Password</div>
              <input type="password" #passwordconfirm class="form-control" placeholder="" name="password-confirm">
              <div class="text-left text-primary">Mobile Number</div>
              <input type="text" #mobilenumber class="form-control" placeholder="" name="mobile-number" ngModel>
              <div class="text-left text-primary">Email Address</div>
              <input type="text" #emailaddress class="form-control" placeholder="" name="email-address" ngModel>
              <div class="input-group-text" (click)="register(name.value, username.value, password.value, passwordconfirm.value, mobilenumber.value, emailaddress.value)">Register</div>
              <div class="input-group-prepend">
                <div class="input-group-small-links" (click)="navigateToLoginSelection()">Cancel</div>
              </div>
            </div>
          </form>-->
        </div>
      </div>
    </div>
  </div>
</div>
