<div class="login-container">
  <div class="container">
    <h1 class="text-center text-primary">P.B.</h1>
    <h2 class="text-center text-primary">Login</h2>
    <form>
      <div class="form-group">
        <div #alert class="alert fade show" ngClass="{{alertClass}}" role="alert">{{alertMessage}}</div>
        <div class="text-left text-primary">Username</div>
        <input type="text" #username class="form-control" placeholder="" name="username" ngModel>
        <div class="text-left text-primary">Password</div>
        <input type="password" #password class="form-control" placeholder="" name="password">
        <div class="input-group-text" (click)="login(username.value, password.value)">Login</div>
        <div class="input-group-prepend">
          <div class="input-group-small-links" (click)="navigateToLoginSelection()">Back</div>
          <div>&nbsp;•&nbsp;</div>
          <div class="input-group-small-links" (click)="navigateToRegister()">Register</div>
          <div>&nbsp;•&nbsp;</div>
          <div class="input-group-small-links" (click)="navigateToForgotPassword()">Forgot password?</div>
        </div>
      </div>
    </form>
  </div>
</div>