div.login-container .container {
  margin: auto;
  margin-top: 100px;
  padding-top: 50px;
  height: 500px;
  max-width: 400px;
  background-color: #EEFEFF;
  border-width: 2;
  border-color: black;
  box-shadow: 2px 2px 7px 1px #64C1FF;
  text-align: center;
}

div.login-container h1 {
  font-size: 80px;

}

div.login-container .form-group {
  margin-top: 10px;
}

div.login-container .text-primary {
  color: black;
}

div.login-container .input-group-text {
  max-width: 200px;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
}

input[type=text], input[type=password] {
  max-width: 200px;
  margin: auto;
}

div.login-container .input-group-prepend {
  max-width: 200px;
  margin: auto;
}

div.login-container .input-group-prepend .small-text-divider {
  font-size: 10px;
  padding-left: 50px;
}

div .small-text {
  font-size: 10px;
}

div .input-group-backtomain {
  
}
