div.register-container .container {
  margin: auto;
  margin-top: 60px;
  padding-top: 50px;
  height: 780px;
  max-width: 400px;
  background-color: #FFFFFF;
  border-width: 2;
  border-color: black;
  box-shadow: 2px 2px 7px 1px #64C1FF;
  text-align: center;
}

div.register-container h1 {
  font-size: 80px;

}

div.register-container .form-group {
  max-width: 250px;
  margin: auto;
}

div.register-container .form-group .text-primary{
  max-width: 200px;
  margin: auto;
  margin-top: 10px;
}

div.register-container .alert {
  font-size: 14px;
}

div.register-container .input-group-text {
  max-width: 200px;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  cursor: pointer;
}

div.register-container .input-group-text:hover {
  background-color: #F5F6F7 !important;
}

input[type=text], input[type=password] {
  max-width: 200px;
  margin: auto;
}

div.register-container .input-group-prepend {
  max-width: 200px;
  margin: auto;
  text-align: center;
  font-size: 10px;
}

div .input-group-small-links {
  max-width: 200px;
  margin: auto;
  text-align: center;
  text-decoration: underline;
  cursor: pointer;
}

div .input-group-small-links:hover {
  color: #D0D3D6 !important;
}

div .input-group-small-links:active {
  color: black !important;
}

