<div class="register-container">
  <div class="container">
    <h1 class="text-center text-primary">P.B.</h1>
    <h2 class="text-center text-primary">Register</h2>
    <form>
      <div class="form-group">
        <div #alert class="alert fade show" ngClass="{{alertClass}}" role="alert">{{alertMessage}}</div>
        <div class="text-left text-primary">Username</div>
        <input type="text" #username class="form-control" placeholder="" name="username" ngModel>
        <div class="text-left text-primary">Password</div>
        <input type="password" #password class="form-control" placeholder="" name="password">
        <div class="text-left text-primary">Confirm Password</div>
        <input type="password" #passwordconfirm class="form-control" placeholder="" name="password-confirm">
        <div class="text-left text-primary">Mobile Number</div>
        <input type="text" #mobilenumber class="form-control" placeholder="" name="mobile-number" ngModel>
        <div class="text-left text-primary">Email Address</div>
        <input type="text" #emailaddress class="form-control" placeholder="" name="email-address" ngModel>
        <div class="input-group-text" (click)="register(username.value, password.value, passwordconfirm.value, mobilenumber.value, emailaddress.value)">Register</div>
        <div class="input-group-prepend">
          <div class="input-group-small-links" (click)="navigateToLoginSelection()">Cancel</div>
        </div>
      </div>
    </form>
  </div>
</div>